.container {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  grid-template-areas:
    'box1'
    'box2'
    'box3'
    'box4'
    'box5'
    'box6';
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}

@media (min-width: 768px) {
  .container {
    margin: 1.5rem;
    grid-template-areas:
      'box1 box1 box1'
      'box2 box2 box3'
      'box2 box2 box4'
      'box5 box6 box6'
      'box5 box6 box6';
    gap: 1.5rem;
  }
}
